@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Work+Sans:wght@300&display=swap');

.App{
  min-height: 100vh;
  display:flex;
  background-image: url("https://c0.wallpaperflare.com/preview/179/449/151/technology-networking-abstract-business.jpg");
  background-position: center;
  background-size: cover;
}